## Variables

In [ ]:
n=0
print('n =',n)

n = 0

In [ ]:
n="abc"
print("n =",n)

n = abc

In [ ]:
n,m=0,"abc"
print(n, m)
n +=1
n

0 abc

1

In [ ]:
print(5/2,5//2)
print(10%3)

2.5 2
1

## Math

In [ ]:
import math
print(math.floor(3/2))
print(math.ceil(3/2))
print(math.sqrt(4))
print(math.pow(2,3))

1
2
2.0
8.0

## If Statements

In [ ]:
n =3
if n>2:
  n-=1
elif n==2:
  n*=2
else:
  n+=2
print(n)

2

In [ ]:
# For Multi-Line conditions u can use  and(&) , or(|)
n,m=3,2
if  (n>2) & (n!=m):
  print(n*m)

6

## Loops

In [ ]:
n=0
while n<5:
  print(n,end=" ")
  n+=1

0 1 2 3 4

In [ ]:
for i in range(n):
  print(i,end=" ")

0 1 2 3 4

In [ ]:
for i in range(2,6):
  print(i,end=" ")

2 3 4 5

In [ ]:
for i in range(2,10,2):
  print(i,end=" ") # increments

2 4 6 8

In [ ]:
for i in range(3,0,-1): #decrement
  print(i,end=" ")

3 2 1

In [ ]:
nums=[1,2,3,4,5,6]
for i in nums:
  print(i,end=" ")

1 2 3 4 5 6

## Arrays

In [ ]:
arr = [1,2,3]
arr.append(4)
arr.append(6)
arr.pop()
print(arr)
arr.insert(1,7)
print(arr)

[1, 2, 3, 4]
[1, 7, 2, 3, 4]

In [ ]:
arr[0]=0
arr[1]=1
print(arr)

[0, 1, 2, 3, 4]

In [ ]:
# Initialize arr of size n with default value of 1
n=5
arr= [1]*n
print(arr)
arr[4]=-2
arr[-1]

[1, 1, 1, 1, 1]

-2

In [ ]:
# sublists(slicing)
arr = [1,2,3,4,5]
arr[1:3]

[2, 3]

In [ ]:
#unpacking
a,b,c=[1,2,3]
a,b,c

(1, 2, 3)

In [ ]:
# loop through
nums=[1,2,3]
for i in range(len(nums)):
  print(nums[i],end=" ")
print()
for n in nums:
  print(n,end=" ")
print()
for i,n in enumerate(nums):
  print(i,n)

1 2 3
1 2 3
0 1
1 2
2 3

In [ ]:
#loop through multiple arrays simultaneously
nums1=[1,2,3]
nums2=[5,6,7]
for n1,n2 in zip(nums1,nums2):
  print(n1,n2)

1 5
2 6
3 7

In [ ]:
# reverse
nums=[1,2,3]
nums.reverse()
nums

[3, 2, 1]

## Sort

In [ ]:
arr=[8,2,6,3]
arr.sort()
print(arr)
arr.sort(reverse=True)
arr

[2, 3, 6, 8]

[8, 6, 3, 2]

In [ ]:
# custom sort by length of string
arr=["sena","ece","asopdkjaspo","asdfsa"]
arr.sort(key=lambda x:len(x))
arr

['ece', 'sena', 'asdfsa', 'asopdkjaspo']

## List compherension

In [ ]:
arr=[i+i for i in range(5)]
arr

[0, 2, 4, 6, 8]

## 2D arrays

In [ ]:
arr=[[0]*4 for i in range(3)]
arr

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

## Strings

In [ ]:
# cant reassign
s="abc"
print(s[1:])
a="123"
print(int(a)+5)
print(a+"34")
## ASCII VALUE ord("a")

bc
128
12334

In [ ]:
arr=["ab",'cd',"ef"]
b="".join(arr)
print(b)

abcdef

In [ ]:
a="I love my mom."
a.split(" ")

['I', 'love', 'my', 'mom.']

## Queue (double ended queue)

In [ ]:
from collections import deque
queue=deque()
queue.append(1)
queue.append(2)
print(queue)

queue.popleft()
print(queue)

queue.appendleft(1)
queue.pop()
print(queue)

deque([1, 2])
deque([2])
deque([1])

## HashSet

In [ ]:
mySet=set() #no duplicates
mySet.add(1)
mySet.add(2)
print(mySet)
print(len(mySet))

print(1 in mySet)

mySet.remove(2)
print(mySet)

mySet= {i for i in range(5)}
print(mySet)

{1, 2}
2
True
{1}
{0, 1, 2, 3, 4}

## HashMap

In [ ]:
myMap= {}
myMap["sena"]=20
myMap["bob"]=89
print(myMap)
print(len(myMap))

{'sena': 20, 'bob': 89}
2

In [ ]:
myMap["sena"]=60
print(myMap["sena"])
myMap.pop("sena")
print("sena" in myMap)

60
False

In [ ]:
myMap={"sena":79,"bob":69}
myMap

{'sena': 79, 'bob': 69}

In [ ]:
# dictionary comp.
myMap={i: i*2 for i in range(3)}
myMap

{0: 0, 1: 2, 2: 4}

In [ ]:
myMap={"sena":79,"bob":69}
for key in myMap:
  print(key,myMap[key])

for val in myMap.values():
  print(val)

for key,val in myMap.items():
  print(key,val)

sena 79
bob 69
79
69
sena 79
bob 69

## Tuples

In [ ]:
tup=(1,2,3) #cant modify
myMap= {(1,2):3}
print(myMap[(1,2)])

mySet=set()
mySet.add((1,2))
print((1,2) in mySet)

3
True

## Heaps

In [ ]:
import heapq #default is min
minHeap=[]
heapq.heappush(minHeap,3)
heapq.heappush(minHeap,2)
heapq.heappush(minHeap,5)
print(minHeap)

while len(minHeap):
  print(heapq.heappop(minHeap))

[2, 3, 5]
2
3
5

In [ ]:
#for max heap
maxHeap=[]
heapq.heappush(maxHeap,-3)
heapq.heappush(maxHeap,-2)
heapq.heappush(maxHeap,-5)
print(-1*maxHeap[0])
while len(maxHeap):
  print(-1*heapq.heappop(maxHeap))

5
5
3
2

In [ ]:
arr=[2,4,8,1]
heapq.heapify(arr)
arr

[1, 2, 8, 4]

## Functions

In [ ]:
def myFunc(n,m):
  return n*m
print(myFunc(2,3))

6

## Nested Funcitons

In [ ]:
def outer(a,b):
  c="c"
  def inner():
    return a+b+c
  return inner()

print(outer("a","b"))

abc

In [ ]:
def double(arr,val):
  def helper():
    for i,n in enumerate(arr):
      arr[i]*=2 # will modify only in helper scpoe
    nonlocal val
    val*=2 #modify outside helper scope
  helper()
  print(arr,val)

nums=[1,2]
val=3
double(nums,val)

[2, 4] 6

## Class

In [ ]:
class myClass:
  #constructor
  def __init__(self,nums):
    self.nums=nums
    self.size=len(nums)
  def getLength(self):
    return self.size
  def getDoubleLength(self):
    return 2*self.getLength()

b=[1,2,3]
a=myClass(b)
a.getLength()
a.getDoubleLength()

6