In [2]:
sentence= "hello"
def writeSentence(num,sentence):
    for i in range(num):
        print(sentence)
writeSentence(5,sentence)

hello
hello
hello
hello
hello

In [2]:
sentence= """
Merhaba Ben Sena
Sen kimsin?
"""
print(sentence.lower().replace("m","c"))

cerhaba ben sena
sen kicsin?

In [3]:
newsentence=""
for i in sentence:
    if i=="M":
        i="Q"
        newsentence+=i
    else:
        newsentence+=i
print(newsentence)

Qerhaba Ben Sena
Sen kimsin?

In [26]:
newsentence=[]
for i in sentence:
    if i=="M":
        i="Q"
        newsentence.append(i)
    else:
        newsentence.append(i)
print("".join(newsentence))

Qerhaba Ben Sena
Sen kimsin?

In [4]:
sent="sena"
sent[::-1]

'anes'

In [6]:
sent.find("a"),len(sent)

(3, 4)

In [9]:
num=1283210983721
print(len(str(num)))

13

In [1]:
a=int(input("buradan aldığın değerler string"))

buradan aldığın değerler string10

In [2]:
def factoriel(n):
    num=1
    for i in range(1,n+1):
        num *=i
    return num
print(factoriel(5))

120

In [15]:
def calc(*nums,cal="*"): #default oluyor
    if cal == "+":
        res=0
        for i in nums:
            res+=i
    else:
        res=1
        for i in nums:
            res*=i
        
    return res
print(calc(1,2,3,4,cal="+"))
print(calc(1,2,3,4))

10
24

In [17]:
print("sena","bilmiyor",sep="X")
print("sena","bilmiyor",end="---")

senaXbilmiyor
sena bilmiyor---

In [19]:
a="sena"
print("Merhaba {}, hoşgeldiniz.".format(a))

Merhaba sena, hoşgeldiniz.

In [26]:
write = open("writing.txt","w")
print("sena şuan acıktı",file=write) #flush=True siliyor

In [28]:
sent="TBMM"
print(*sent)
print(*sent,sep="-")

T B M M
T-B-M-M

In [42]:
def sayilarıTopla(*degerler):
    toplam=0
    for deger in degerler:
        toplam+=deger
    return toplam
sayilar=[x for x in range(1,1001)]
print(sayilarıTopla(*sayilar))

500500

In [52]:
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****

In [54]:
ll= [1,2,3,4,5,65,6]
ll[5:1:-1], ll[::]

([65, 5, 4, 3], [1, 2, 3, 4, 5, 65, 6])

In [55]:
ll.insert(1,"hi")
ll

[1, 'hi', 2, 3, 4, 5, 65, 6]

In [56]:
# remove value, pop index,insert index,append value

In [73]:
people={"sena":[20,10,24],"bora":19,"ceren":17}
people["sena"]

[20, 10, 24]

In [74]:
people["s.people"]=["idk","whut"]
people

{'sena': [20, 10, 24], 'bora': 19, 'ceren': 17, 's.people': ['idk', 'whut']}

In [75]:
people["sena"].append("40")
people

{'sena': [20, 10, 24, '40'],
 'bora': 19,
 'ceren': 17,
 's.people': ['idk', 'whut']}

In [76]:
people["s.people"].remove("idk")
people

{'sena': [20, 10, 24, '40'], 'bora': 19, 'ceren': 17, 's.people': ['whut']}

In [77]:
for i,j in people.items():
    print(i,j)

sena [20, 10, 24, '40']
bora 19
ceren 17
s.people ['whut']

In [78]:
a=float(input("1st num: "))
b=float(input("2nd num: "))
c=(a**2+b**2)**(1/2)

1st num: 3
2nd num: 4

5.0

In [82]:
a=float(input("1st num: "))
while True:
    try:
        b=float(input("2nd num: "))
        i=a/b
        break
    except ZeroDivisionError:
        print("Resistance cant be 0")
print("Current is {} ".format(i))

1st num: 10
2nd num: 0
Resistance cant be 0
2nd num: 2
Current is 5.0

In [84]:
vocab={}
word=""
mean=""
while True:
    sent=input("add your word: ")
    answ=input("meaning of word: ")
    vocab[sent]=answ
    going=int(input("if you wanna keep going press 1 else press 0 "))
    if going==0:
        break
    else:
        continue

add your word: sena
meaning of word: bitch
if you wanna keep going press 1 else press 0 1
add your word: kas
meaning of word: yumurta
if you wanna keep going press 1 else press 0 0

In [85]:
vocab

{'sena': 'bitch', 'kas': 'yumurta'}

In [87]:
midterm=int(input("enter your midterm:"))
final= int(input("enter yoru final:"))
midterm=midterm*0.4
final=final*0.6
total=final+midterm
print(total)
if total<=100 and total>85:
    print("Your grade is AA.")
elif total<=85 and total>70:
    print("Your grade is BA")
else:
    print("try again")

enter your midterm:100
enter yoru final:90
94.0
Your grade is AA.

In [90]:
with open("notlar.txt","a") as dosya:
    dosya.writelines("total grade is {}".format(total))